@import "tailwindcss";

@theme {
    --color-backgroundColor: #121212;
    --color-cardColor: #1e1e1f;
    --color-miniCardColor: #222223;
    --color-avatarColor: #393938;
    --color-borderColor: #383838;
    --color-secondaryColor: #2b2b2c;
    --color-iconColor: #ffdb70;
    --color-socialMediaIconColor: #9f9f9f;
    --color-socialMediaIconColorHover: #eeeeee;
    --shadow-shadowColor: -1.5px -1.5px 2px rgba(137, 137, 137, 0.2);
}

:root {
    background-color: #121212;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
}

@font-face {
    font-family: 'Degular';
    src: url('fonts/DegularSemibold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/LatoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-Degular {
    font-family: 'Degular';
}

.font-Lato {
    font-family: 'Lato';
}