@import "tailwindcss";

@theme {
    --color-cardColor: #1e1e1f;
    --color-miniCardColor: #222223;
    --color-avatarColor: #393938;
    --color-borderColor: #383838;
    --color-secondaryColor: #2b2b2c;
    --color-iconColor: #ffdb70;
    --color-socialMediaIconColor: #9f9f9f;
    --color-socialMediaIconColorHover: #eeeeee;
    --shadow-shadowColor: -1.5px -1.5px 2px rgba(137, 137, 137, 0.2);
}

:root {
    background-color: #121212;
}